<div style="margin: 20px 10px;">
  <div style="margin: 20px 0">
    <div class="d-flex align-content-center justify-content-between">
      <div class="p-2 bd-highlight" style="font-weight: bold;">
        <a routerLink="/tasks">Back</a>
      </div>
      <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-primary">
          <i class="fas fa-save"></i>
          <span style="padding-left: 5px;" (click)="handleOpenTaskDialog()">Save Task</span>
        </button>
      </div>
    </div>  
  </div>  
</div>