<layout-header (openTaskDialog)="openTaskDialog($event)"></layout-header>
<div style="margin: 20px 10px;"></div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Desc</th>
      <th scope="col">Status</th>
      <th scope="col">Creation Date</th>
      <th scope="col">Due Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let task of tasks; let i = index"
      [ngClass]="{ 'table-danger': false }"
    >
      <td>
        <a [routerLink]="['/tasks', task.taskId]">{{ task.title }}</a>
      </td>
      <td>{{ task.description }}</td>
      <td>
        <span
          *ngIf="task.status === 'new'"
          class="badge badge-pill badge-primary"
          >New</span
        >
        <span
          *ngIf="task.status === 'inProgress'"
          class="badge badge-pill badge-warning"
          >In Progress</span
        >
        <span
          *ngIf="task.status === 'completed'"
          class="badge badge-pill badge-danger"
          >Completed</span
        >
      </td>
      <td>{{ task.creationDate | date: 'yyyy-MM-dd' }}</td>
      <td>{{ task.dueDate | date: 'yyyy-MM-dd' }}</td>
      <td>
        <!--
      <button
        type="button"
        class="btn btn-outline-primary"
        style="margin-right: 5px;"
        (click)="editTask(task)"
      >
        Edit
      </button>
      -->
        <button
          type="button"
          class="btn btn-outline-danger delete-class"
          (click)="deleteTask(task.taskId)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<task-dialog
  [isVisible]="isVisible"
  (handleClose)="closeTaskDialog($event)"
  [data]="task"
  [operation]="operation"
>
</task-dialog>
<layout-footer></layout-footer>
